<section>
  <center>
    <h1>Lamentamos pelo que aconteceu, {{name}}</h1>
    <img src="https://ik.imagekit.io/talia/github/9gag-icon_dV-Opsz5z.png" height="175" width="175" alt="Talia Logo" />
    <h3>Redefinir o código de senha</h3>
    <h2>{{code}}</h2>
    <br />
    <small>
      Por favor não responda este email
    </small>
  </center>

</section>
