<section>
  <center>
    <h1>We are sorry for what happened, {{name}}</h1>
    <img src="https://ik.imagekit.io/talia/github/9gag-icon_dV-Opsz5z.png" height="175" width="175" alt="Talia Logo" />
    <h3>Reset Password Code</h3>
    <h2>{{code}}</h2>
    <br />
    <small>
      Please don't reply this email
    </small>
  </center>

</section>
