AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=


TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = docker
TYPEORM_DATABASE = talia
TYPEORM_PORT = 5432
TYPEORM_LOGGING = false
TYPEORM_ENTITIES =./src/models/*.ts
TYPEORM_ENTITIES_DIR =./src/models
TYPEORM_MIGRATIONS_DIR=./src/database/migrations
TYPEORM_MIGRATIONS=./src/database/migrations/*.ts
TYPEORM_SEEDING_FACTORIES=src/database/factories/**/*.ts
TYPEORM_SEEDING_SEEDS=src/database/seeds/**/*.ts
